
* {
    font-family: Spartan, serif;
    padding: 0;
    margin: 0;
}

.hero {
    margin-top: 60px;
    background-image: url("./images/Banner1.jpg");
    height: 50vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero .box-left,
.hero .box-right {
    width: 50%;
}

.hero h1 {
    padding-top: 65px;
}

.hero p {
    font-size: 15px;
}

.hero .box-left button {
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: #1d1a1a;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}

.hero .box-left button:hover {
    background: brown;
}

.hero .box-right {
    padding-left: 680px;
    margin-top: -230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .box-right img {
    margin: 0 10px;
    animation: animation 3s infinite linear;
    border-radius: 33px;
}

.hero .box-right img:nth-child(1) {
    animation-delay: 0.5s;
}

.hero .box-right img:nth-child(2) {

    animation-delay: 1s;
}

@keyframes animation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);

    }

    100% {
        transform: translateY(0px);
    }
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 50px;
    transition: 0.2S ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: center;
    padding: 10px 0;
}

#product1 .pro .des h5 {
    font-size: 20px;
    padding-bottom: 5px;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 27px;
    color: rgb(166, 57, 57);
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #b5e2bc;
    color: #4c3737;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 18px;
    right: 11px;
}

#product1 h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#product1 p {
    font-size: 20px;
}

#saleoff {
    margin-bottom: 30px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    height: 300px;
    text-align: center;
}

#saleoff .box-left,
#saleoff .box-right {
    width: 50%;
}

#saleoff .box-left {
    background: #292a29;
    text-align: center;
    min-height: 300px;
    display: flex;

}

#saleoff .box-left h1 {
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
    justify-content: center;
}

#saleoff .box-left span:nth-child(1) {
    color: white;
    font-size: 50px;
}

#saleoff .box-left span:nth-child(2) {
    color: brown;
    font-size: 150px;
}

#saleoff .box-right {
    background-image: url("images/off1.jpg");
}

.product {
    margin-top: 100px;
}

.product h2 {
    text-align: center;

}

.product .pro {
    display: flex;
    flex-direction: column;
    padding: 35px;
    text-align: center;
    align-items: center;
}

.product .pro .pro-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 50px;

}

.product .pro .name {
    margin-bottom: 10px;
    font-size: 30px;
}

.product .pro .feedback {
    line-height: 30px;
    margin-top: 5px;

}

.product .swiper-button-prev,
.product .swiper-button-next {
    margin-right: 10px;
    margin-left: 10px;
    color: #000;
}