:root{
    --body--bg: white;
    --title: #222121;
    --primary: blue;
}
[data-theme='light']{
    --body--bg: white;
    --title:black;
    --primary: blue;
}

[data-theme='dark']{
    --body--bg: #292828;
    --title: #ffffff;
    --primary: #8f8fd8;
}
body{
    background-color: var(--body--bg);
    transition: 1s;

}
* {

    font-family: Spartan, serif;
    padding: 0;
    margin: 0;
}

.hero {
    margin-top: 60px;
    background-image: url("./images/Banner1.jpg");
    height: 50vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero .box-left,
.hero .box-right {
    width: 50%;
}

.hero h1 {
    padding-top: 65px;
    color: var(--title);
    transition: 1s;
}

.hero p {
    font-size: 15px;
    color: var(--title);
    transition: 1s;
}

.hero .box-left button {
    font-size: 17px;
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: var(--title);
    border: none;
    outline: none;
    color: var(--body--bg);
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}

.hero .box-left button:hover {
    background: brown;
}

.hero .box-right {
    padding-left: 680px;
    margin-top: -230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .box-right img {
    margin: 0 10px;
    animation: animation 3s infinite linear;
    border-radius: 33px;
}

.hero .box-right img:nth-child(1) {
    animation-delay: 0.5s;
}

.hero .box-right img:nth-child(2) {

    animation-delay: 1s;
}

@keyframes animation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);

    }

    100% {
        transform: translateY(0px);
    }
}
.product {
    margin-top: 100px;
}

.product h2 {
    margin-bottom: 5px;
    text-align: center;
    color: var(--title);
}
.product .pro {
    display: flex;
    flex-direction: column;
    padding: 35px;
    text-align: center;
    align-items: center;
}

.product .pro .pro-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 50px;

}

.product .pro .name {
    margin-bottom: 10px;
    font-size: 30px;
    color: var(--title);
}

.product .pro .feedback {
    line-height: 30px;
    margin-top: 5px;
    color: var(--title);

}

.product .swiper-button-prev,
.product .swiper-button-next {
    margin-right: 10px;
    margin-left: 10px;

    color: var(--title);
}
.product .swiper-pagination{
    color: var(--title);
}
.product p{
}

#product1 {
    padding: 0 100px;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 100px;
}


#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 24%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2S ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {

    color: var(--title);
    text-align: center;
    padding: 10px 0;
}

#product1 .pro .des h5 {
    font-size: 20px;
    padding-bottom: 5px;
    color: var(--title);
}

#product1 .pro .des .star {
    color: rgb(230, 230, 93);

}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 27px;
    color: color(--body--bg);
}



#product1 h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--title);
}
#product1 p{
    color: var(--title);
}


