#header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: white;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 1000;
    top: 0;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-right: 100px;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}
#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    background: #088178;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 19px;
}